httpx[http2]==0.28.1
beautifulsoup4==4.15.0
pillow==12.3.0
pywebview[qt]==6.2.1; sys_platform == "linux"
PyQt6==6.11.0; sys_platform == "linux"
PyQt6-Qt6==6.11.2; sys_platform == "linux"
PyQt6-WebEngine==6.11.0; sys_platform == "linux"
PyQt6-WebEngine-Qt6==6.11.2; sys_platform == "linux"
PyQt6-sip==13.12.0; sys_platform == "linux"
QtPy==2.4.3; sys_platform == "linux"
pywebview==6.2.1; sys_platform == "win32"
pythonnet==3.1.0; sys_platform == "win32"
pywebview==6.2.1; sys_platform == "darwin"
pyobjc-core==12.2.2; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.2.2; sys_platform == "darwin"
pyobjc-framework-Quartz==12.2.2; sys_platform == "darwin"
pyobjc-framework-WebKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-security==12.2.2; sys_platform == "darwin"
pyobjc-framework-UniformTypeIdentifiers==12.2.2; sys_platform == "darwin"
